.container-fluid {
    background-image: url(images/yuliia-sereda-h-EvL41BRS4-unsplash.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    filter: brightness(1px);

}
#postsContainer {
    max-height: 500px;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    display: flex;
    justify-content: space-around !important;
}
.images {
    width: 100px ;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
}

.images:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
    border: 1px solid black;
}

.btn {
    background-color: black !important;
    color: white !important;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
h1 {
    color: white !important;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
.form-control {
    border: 1px solid #ccc;
    border-radius: 5px;
}
.form-control:focus {
    outline: none !important;
    box-shadow: none !important;
}

